{% extends 'index2.html' %}
{% block contents %}
<!--<style>

form {
width:30%;
height:40px;
margin:auto;
position:relative;
}

</style>-->
<div class="col-md-10 grid-margin stretch-card">

 <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">CREATE ACCOUNT</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" id="uploadData1" method='POST' action="javascript:void(0)" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                 <div class="form-group">
                    <!--<label for="exampleInputfirstname">First Name</label>-->
                    <input type="text" class="form-control"  id="firstname" name="firstname" placeholder=" First Name" required>
                  </div>
                  <div class="form-group">
                   <!-- <label for="exampleInputlastname">Last Name</label>-->
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" required>
                  </div>
                 <div class="form-group">
                   <!-- <label for="exampleInputusername">Username</label>-->
                    <input type="text" class="form-control" id="username" name="username" placeholder=" Username" required>
                  </div>
                  <div class="form-group">
                   <!-- <label for="exampleInputEmail1">Email address</label>-->
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                  </div>
                  <div class="form-group">
                    <!--<label for="exampleInputPassword1">Password</label>-->
                    <input type="password" class="form-control" id="Password" name="password" placeholder="Password" required>
                  </div>
                    <div class="form-group">
                    <!--<label for="exampleInputConfirmPassword">Confirm Password</label>-->
                    <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" required>
                  </div>

                    <!--<div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="exampleInputFile">
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text" id="">Upload</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>
                </div>
                <!-- /.card-body -->
                 
               <!-- <div class="card-footer">-->
                  <button type="submit" class="btn btn-primary">Submit</button>
                
                  <button type="cancel" class="btn btn-primary">Cancel</button>
                
                
              </form>
            </div>
             

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
<script>
    $("#freshOrder").addClass('active');
</script>
<script>
    $("#uploadData1").validate({
        normalizer: function(value) {
            return $.trim(value);
        },
        rules: {

            firstname: {
                required: true
            },
            lastname: {
                required: true
            },
            username: {
                required: true
            },
            email: {
                required: true
            },
            password: {
                required: true
            },
            confirmpassword: {
                required: true
            }
        },

        submitHandler: function(form) {
            var form = document.getElementById('uploadData1');
            var data = new FormData(form);
            $.ajax({
                type: "POST",
                url: "/adminregistration/",
                data,
                dataType: "json",
                cache: false,
                contentType: false,
                processData: false,
                success: function(data) {
                    if (data.error == 1) {
                        $("#modal-dialog").html('Server response');
                        $("#custom_messages").html(data.message);
                        $('#modal-success').modal({
                            backdrop: 'static',
                            keyboard: false
                        })

                        setTimeout(function() {
                            window.location.replace("/admin1/");
                        }, 1000);

                    } else {

                        $("#modal-dialog").html('Server response');
                        $("#custom_error_messages").html(data.message);
                        $('#DangerModalalert').modal({
                            backdrop: 'static',
                            keyboard: false
                        })

                    }
                }
            });
            return false;
        }
    });
</script>
 {% endblock %}