{% extends 'index2.html' %}
{% block contents %}
<section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Username</th>
                  <th>Password</th>
            
                  <th>Status</th>
              
                </tr>
                </thead>
                <tbody>
                {% for x in datas %}
                <tr>
                 <td>{{x.firstname}}</td>
                 <td>{{x.lastname}}</td>
                 <td>{{x.username}}</td>
                 <td>{{x.email}}</td>
                 <td>{{x.password}}</td>
                 <!--<form role="form" method='POST' action="{% url  'adminregistration' %}">-->
                  <td> <a href="{% url 'admindelete' dataid=x.id %}"  class="btn btn-primary">Delete</a>
                 <a href="{% url 'updateadmin' dataid=x.id %}"  class="btn btn-primary">Update</a> </td>
                  <!--<td>Internet
                    Explorer 4.0
                  </td>
                  <td>Win 95+</td>
                  <td> 4</td>
                  <td>X</td>-->
                </tr>
                {% endfor %}
                </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
      {% endblock %}